In [22]:
# check Rows Duplication
f"number of duplicated rows : {sum(df.duplicated())}"

'number of duplicated rows : 0'

In [23]:
# remove duplicated rows
df.drop_duplicates(keep="first" , inplace=True)

In [24]:
f"number of duplicated rows : {sum(df.duplicated())}"

'number of duplicated rows : 0'

In [25]:
f"number of row after remove duplicated : {df.shape[0]}"

'number of row after remove duplicated : 13392'

In [26]:

# Display all information about columns on the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13392 entries, 0 to 13392
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      13392 non-null  float64
 1   gender                   13392 non-null  object
 2   height_cm                13392 non-null  float64
 3   weight_kg                13392 non-null  float64
 4   body_fat_%               13392 non-null  float64
 5   diastolic                13392 non-null  float64
 6   systolic                 13392 non-null  float64
 7   gripForce                13392 non-null  float64
 8   sit_and_bend_forward_cm  13392 non-null  float64
 9   sit_ups_counts           13392 non-null  float64
 10  broad_jump_cm            13392 non-null  float64
 11  class                    13392 non-null  object
dtypes: float64(10), object(2)
memory usage: 1.3+ MB

In [27]:

Fitness = (df['height_cm']-100) / df['weight_kg']

df.insert(4,'fitness',Fitness)
df.head(13)

,age,gender,height_cm,weight_kg,fitness,body_fat_%,diastolic,systolic,gripForce,sit_and_bend_forward_cm,sit_ups_counts,broad_jump_cm,class
0,27.000000,M,172.3,75.24,0.960925,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,25.000000,M,165.0,55.80,1.164875,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,31.000000,M,179.6,78.00,1.020513,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32.000000,M,174.5,71.10,1.047820,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,28.000000,M,173.8,67.70,1.090103,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B
5,36.000000,F,165.4,55.40,1.180505,22.0,64.0,119.0,23.8,21.0,27.0,153.0,B
6,42.000000,F,164.5,63.70,1.012559,32.2,72.0,135.0,22.7,0.8,18.0,146.0,D
7,33.000000,M,174.9,77.20,0.970207,36.9,84.0,137.0,45.9,12.3,42.0,234.0,B
8,36.775594,M,166.8,67.50,0.989630,27.6,85.0,165.0,40.4,18.6,34.0,148.0,C
9,28.000000,M,185.0,84.60,1.004728,14.4,81.0,156.0,57.9,12.1,55.0,213.0,B
10,42.000000,M,169.2,65.40,1.058104,19.3,63.0,110.0,43.5,16.0,68.0,211.0,A
11,57.000000,F,153.0,49.00,1.081633,20.9,69.0,106.0,21.5,30.0,0.0,90.0,D
12,27.000000,F,156.0,53.90,1.038961,35.5,69.0,116.0,23.1,13.1,28.0,144.0,C

In [28]:
print("""Descriptive Statistics
about df""")
print(df.describe())
print("""

From the above result 
we get some important
insights.

1-minimum age =21,

maxmum =64,

average=36.775594.

2-minimum height_cm =125,

maxmum = 193,

average=168.5567450.

3-minimum weight_kg =26.3,

maxmum = 138,

average=67.448310.

4-minimum weight_kg =0.532009,

maxmum = 2.194301,

average=1.031915.""")

Descriptive Statistics
about df
                age     height_cm     weight_kg       fitness    body_fat_%  \
count  13392.000000  13392.000000  13392.000000  13392.000000  13392.000000
mean      36.776324    168.557608     67.449680      1.031848     23.240285
std       13.619244      8.421751     11.942471      0.123453      7.255010
min       21.000000    125.000000     26.300000      0.532009      3.000000
25%       25.000000    162.400000     58.200000      0.951320     18.000000
50%       32.000000    169.200000     67.448310      1.025856     22.800000
75%       48.000000    174.700000     75.300000      1.107199     28.000000
max       64.000000    193.800000    138.100000      2.194301     78.400000

          diastolic      systolic     gripForce  sit_and_bend_forward_cm  \
count  13392.000000  13392.000000  13392.000000             13392.000000
mean      78.797751    130.243601     36.962698                15.209766
std       10.739310     14.703931     10.621873                 8.456424
min        0.000000      0.000000      0.000000               -25.000000
25%       71.000000    120.000000     27.500000                10.900000
50%       79.000000    130.000000     37.900000                16.200000
75%       86.000000    141.000000     45.125000                20.700000
max      156.200000    201.000000     70.500000               213.000000

       sit_ups_counts  broad_jump_cm
count    13392.000000   13392.000000
mean        39.770385     190.131903
std         14.276902      39.837938
min          0.000000       0.000000
25%         30.000000     162.000000
50%         41.000000     193.000000
75%         50.000000     221.000000
max         80.000000     303.000000


From the above result
we get some important
insights.

1-minimum age =21,

maxmum =64,

average=36.775594.

2-minimum height_cm =125,

maxmum = 193,

average=168.5567450.

3-minimum weight_kg =26.3,

maxmum = 138,

average=67.448310.

4-minimum weight_kg =0.532009,

maxmum = 2.194301,

average=1.031915.

In [29]:
#Get age column alone
df['age'].unique()

array([27.        , 25.        , 31.        , 32.        , 28.        ,
       36.        , 42.        , 33.        , 36.77559408, 57.        ,
       24.        , 45.        , 26.        , 21.        , 59.        ,
       38.        , 44.        , 23.        , 62.        , 47.        ,
       48.        , 50.        , 30.        , 49.        , 40.        ,
       52.        , 39.        , 34.        , 58.        , 43.        ,
       56.        , 37.        , 63.        , 35.        , 60.        ,
       22.        , 51.        , 41.        , 46.        , 29.        ,
       61.        , 54.        , 55.        , 64.        , 53.        ])

In [30]:
#who are players that thier age more than 30?     #USE MASKING
df[(df['age']>30)]

,age,gender,height_cm,weight_kg,fitness,body_fat_%,diastolic,systolic,gripForce,sit_and_bend_forward_cm,sit_ups_counts,broad_jump_cm,class
2,31.0,M,179.6,78.0,1.020513,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32.0,M,174.5,71.1,1.047820,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
5,36.0,F,165.4,55.4,1.180505,22.0,64.0,119.0,23.8,21.0,27.0,153.0,B
6,42.0,F,164.5,63.7,1.012559,32.2,72.0,135.0,22.7,0.8,18.0,146.0,D
7,33.0,M,174.9,77.2,0.970207,36.9,84.0,137.0,45.9,12.3,42.0,234.0,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13386,62.0,F,156.2,40.0,1.405000,20.2,61.0,115.0,18.5,5.7,1.0,81.0,D
13387,39.0,M,174.4,70.8,1.050847,24.3,78.0,132.0,41.6,12.0,44.0,168.0,B
13390,39.0,M,177.2,80.5,0.959006,20.1,78.0,132.0,63.5,16.4,45.0,229.0,A
13391,64.0,F,146.1,57.7,0.798960,40.4,68.0,121.0,19.3,9.2,0.0,75.0,D
13392,34.0,M,164.0,66.1,0.968230,19.5,82.0,150.0,35.9,7.1,51.0,180.0,C

In [31]:
#who are players that thier overall_rating more than 90?    #USE MASKING
df[(df['body_fat_%']>15)]

,age,gender,height_cm,weight_kg,fitness,body_fat_%,diastolic,systolic,gripForce,sit_and_bend_forward_cm,sit_ups_counts,broad_jump_cm,class
0,27.0,M,172.3,75.24,0.960925,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,25.0,M,165.0,55.80,1.164875,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,31.0,M,179.6,78.00,1.020513,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32.0,M,174.5,71.10,1.047820,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,28.0,M,173.8,67.70,1.090103,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13387,39.0,M,174.4,70.80,1.050847,24.3,78.0,132.0,41.6,12.0,44.0,168.0,B
13388,25.0,M,172.1,71.80,1.004178,16.2,74.0,141.0,35.8,17.4,47.0,198.0,C
13390,39.0,M,177.2,80.50,0.959006,20.1,78.0,132.0,63.5,16.4,45.0,229.0,A
13391,64.0,F,146.1,57.70,0.798960,40.4,68.0,121.0,19.3,9.2,0.0,75.0,D
13392,34.0,M,164.0,66.10,0.968230,19.5,82.0,150.0,35.9,7.1,51.0,180.0,C