In [1]:
#Introduction 

#In this project, we will talk about the effects of body performance: “12 columns and 13,394 rows.”
#Among the factors we will talk about are age, gender, height, weight, fat percentage, diastolic, systolic, gribforce, sit and bend forward, sit-ups counts, broad jump, and class.
#We will study the effect of each of these factors on the rest of the factors in some detail using (pandas, numpy, matplotlib)
#Before the analysis of the dataset, data wrangling phase has been conducted to clean the data from unimportant columns, noisy data, and other problems. 
#Before data wrangling phase, general properities about the dataset has been addressed.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
# Load dataset
df=pd.read_excel("Downloads/bodyPerformance.xlsx")

In [3]:
df

,age,gender,height_cm,weight_kg,body_fat_%,diastolic,systolic,gripForce,sit_and_bend_forward_cm,sit_ups_counts,broad_jump_cm,class
0,27.0,M,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,25.0,M,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,31.0,M,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32.0,M,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,28.0,M,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B
...,...,...,...,...,...,...,...,...,...,...,...,...
13388,25.0,M,172.1,71.80,16.2,74.0,141.0,35.8,17.4,47.0,198.0,C
13389,21.0,M,179.7,63.90,12.1,74.0,128.0,33.0,1.1,48.0,167.0,D
13390,39.0,M,177.2,80.50,20.1,78.0,132.0,63.5,16.4,45.0,229.0,A
13391,64.0,F,146.1,57.70,40.4,68.0,121.0,19.3,9.2,0.0,75.0,D
13392,34.0,M,164.0,66.10,19.5,82.0,150.0,35.9,7.1,51.0,180.0,C

In [4]:

# Display all information about columns on the dataset
print("\n Information of Df")
df.info()

 Information of Df
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13393 entries, 0 to 13392
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      13382 non-null  float64
 1   gender                   13385 non-null  object
 2   height_cm                13381 non-null  float64
 3   weight_kg                13379 non-null  float64
 4   body_fat_%               13379 non-null  float64
 5   diastolic                13385 non-null  float64
 6   systolic                 13383 non-null  float64
 7   gripForce                13381 non-null  float64
 8   sit_and_bend_forward_cm  13387 non-null  float64
 9   sit_ups_counts           13393 non-null  float64
 10  broad_jump_cm            13375 non-null  float64
 11  class                    13380 non-null  object
dtypes: float64(10), object(2)
memory usage: 1.2+ MB

In [5]:
# First fifth rows of DF
print("\nHead of DF: \n", df.head(5))

Head of DF:
     age gender  height_cm  weight_kg  body_fat_%  diastolic  systolic  \
0  27.0      M      172.3      75.24        21.3       80.0     130.0
1  25.0      M      165.0      55.80        15.7       77.0     126.0
2  31.0      M      179.6      78.00        20.1       92.0     152.0
3  32.0      M      174.5      71.10        18.4       76.0     147.0
4  28.0      M      173.8      67.70        17.1       70.0     127.0

   gripForce  sit_and_bend_forward_cm  sit_ups_counts  broad_jump_cm class
0       54.9                     18.4            60.0          217.0     C
1       36.4                     16.3            53.0          229.0     A
2       44.8                     12.0            49.0          181.0     C
3       41.4                     15.2            53.0          219.0     B
4       43.5                     27.1            45.0          217.0     B

In [4]:
df.isna().sum()

age                        11
gender                      8
height_cm                  12
weight_kg                  14
body_fat_%                 14
diastolic                   8
systolic                   10
gripForce                  12
sit_and_bend_forward_cm     6
sit_ups_counts              0
broad_jump_cm              18
class                      13
dtype: int64

In [6]:
# fill gender column by using fillna function
clean_gender_column=df["gender"].fillna("no gender",inplace=True)
df.isna().sum()

age                        11
gender                      0
height_cm                  12
weight_kg                  14
body_fat_%                 14
diastolic                   8
systolic                   10
gripForce                  12
sit_and_bend_forward_cm     6
sit_ups_counts              0
broad_jump_cm              18
class                      13
dtype: int64

In [7]:
# fill age column by using fillna function

clean_age_column=df["age"].mean()
df["age"].fillna(clean_age_column,inplace=True)
df.isna().sum()

age                         0
gender                      0
height_cm                  12
weight_kg                  14
body_fat_%                 14
diastolic                   8
systolic                   10
gripForce                  12
sit_and_bend_forward_cm     6
sit_ups_counts              0
broad_jump_cm              18
class                      13
dtype: int64

In [8]:
# fill height_cm column by using fillna function
clean_height_cm_column=df["height_cm"].mean()
df["height_cm"].fillna(clean_height_cm_column,inplace=True)
df.isna().sum()

age                         0
gender                      0
height_cm                   0
weight_kg                  14
body_fat_%                 14
diastolic                   8
systolic                   10
gripForce                  12
sit_and_bend_forward_cm     6
sit_ups_counts              0
broad_jump_cm              18
class                      13
dtype: int64

In [9]:
# fill weight_kg column by using fillna function
clean_weight_kg_column=df["weight_kg"].mean()
df["weight_kg"].fillna(clean_weight_kg_column,inplace=True)
df.isna().sum()

age                         0
gender                      0
height_cm                   0
weight_kg                   0
body_fat_%                 14
diastolic                   8
systolic                   10
gripForce                  12
sit_and_bend_forward_cm     6
sit_ups_counts              0
broad_jump_cm              18
class                      13
dtype: int64